body {
    font-family: "Helvetica", Sans-Serif;
    background-color: aliceblue;
    font-size: 24x;
}

.container {
    background-color: bisque;
    width: 200px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 4px;
}

form {
    display: inline-block;
}

input {
    padding: 5px 20px 3px 5px
}

#button {
    margin: top 10px;
    display: inline-block;
    text-align: center;
    background-color: blueviolet;
    border: none;
    padding: 5px 15px;
    text-align: center;
}

#button:hover {
    cursor: pointer;
    opacity: .7;
}

ol {
    padding-left: 20px;
}

ol li {
    padding: 5px;
    color: black;
}

ol li:nth-child(even) {
    background-color: aqua;
}

li:hover {
    cursor: pointer
}

.strike {
    text-decoration: line-through;
}

.delete {
    display: none;
}

li>button {
    background: none;
    border: none;
    float: center;
    color: blueviolet;
    font-weight: 500;
    cursor: pointer;
}